name: iOS Archive (XcodeGen)

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup macOS environment
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.2"

      - name: Install XcodeGen
        run: brew install xcodegen
        shell: bash

      - name: Generate Xcode Project
        run: xcodegen generate
        shell: bash

      - name: Build Archive
        run: |
          xcodebuild archive \
            -project "Pocket Poster.xcodeproj" \
            -scheme "Pocket Poster" \
            -configuration Release \
            -archivePath build/PocketPoster.xcarchive \
            CODE_SIGNING_ALLOWED=NO
        shell: bash

      - name: Upload xcarchive
        uses: actions/upload-artifact@v4
        with:
          name: PocketPoster-xcarchive
          path: build/PocketPoster.xcarchive